@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
}

/* Nav Elements */
.my-name {
    font-size: 2em;
    margin-left: 400px;
    transition: .2s;
}

.my-name:hover {
    scale: 1.1;
}

.my-name a {
    color: inherit;
    text-decoration: none;
}

.nav-container {
    align-items: center;
    background-color: white;
    display: flex;
    padding: 10px;
    position: fixed;
    top: 0%;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: 400px;
}

.nav-list a {
    color: inherit;
    text-decoration: none;
    transition: .2s;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-list li {
    font-size: 1.2em;
    margin: 0px 12px;
    transition: .2s;
}

.nav-list li:hover {
    scale: 1.1;
}

/* Home Elements */
.home-container {
    background-color: #edf2f8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0 400px;
}

.home-container img {
    border-radius: 50px;
    height: 600px;
}

.home-text {
    font-size: 3em;
    margin-bottom: 25px;
}

.hi {
    font-size: .5em;
}

.home-name {
    color: #7b113a;
    font-size: 1.2em;
}

.secondary-text {
    font-size: .6em;
}

.home-buttons button {
    background-color: #7b113a;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1.2em;
    margin-right: 20px;
    padding: 15px 0px;
    transition: .2s;
    width: 150px;
}

.home-buttons button:hover {
    scale: 1.1;
}

/* Project Section Elements */
.projects-container {
    padding: 50px;
    height: 100vh;
}

.projects-container h1 {
    font-size: 3em;
    margin-bottom: 50px;
    text-align: center;
}

.items-container {
    display: flex;
    justify-content: center;
}

.project-item {
    border: solid black 1px;
    border-radius: 15px;
    margin: 0px 15px;
    text-align: center;
    height: 275px;
    width: 225px;
}

/* Skills Section Elements */
.skills-container {
    padding: 50px;
    background-color: #edf2f8;
    height: 100vh;
}

.skills-container h1 {
    font-size: 3em;
    margin-bottom: 50px;
    text-align: center;
}

/* Contact Section Elements */
.contact-container {
    padding: 50px;
    height: 100vh;
}

.contact-container h1 {
    font-size: 3em;
    margin-bottom: 50px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    width: 100%;
}